@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-family: Merriweather, Proxima Nova, sans-serif;
  }
  html {
    font-family: Merriweather, Proxima Nova, sans-serif;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl uppercase text-black font-semibold mb-6;
  }
}

.icons_contactme {
  @apply text-2xl sm:text-3xl text-black m-2;
}

.profileImage {
  @apply rounded-full;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: 50% 4%;
}

section {
  @apply sm:mb-10 mb-5;
}

.image-container {
  position: relative;
  width: auto; /* Set the desired width */
  height: 400px; /* Set the desired height */
}

.link-container {
  display: flex;
  align-items: baseline;
}

.link-container a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn {
  @apply px-2 sm:px-4 sm:text-lg transition ease-in-out duration-300;
}

.skill {
  @apply text-lg py-2 px-4 w-fit rounded-md;
}

.animation {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.animation.show {
  opacity: 1;
  transform: translateY(0);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 2px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-out;
}

.modal-content.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-message {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

@media only screen and (max-width: 735px) {
  contact-form {
    max-width: calc(100% - 2em);
  }
}